
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #24272e;
    margin: 0;
    color: white;
    text-align: center;
  }
  
  .card {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: #5c6477;
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  input[type='text'], input[type='button'], button {
    font-family: 'Orbitron', sans-serif;
    margin: 10px 0;
  }
  
  input[type='text'] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 24px;
    border: 2px solid #646464;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    margin-bottom: 20px;
  }
  
  input[type='button'], button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type='button']:hover, button:hover {
    background-color: #66bb6a;
  }
  
  .errorMessage {
    color: #ff4444;
  }
  
  
  @media (max-width: 480px) {
    .card {
      margin: 20px;
    }
  }
  #timerButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #timerButton:hover {
    background-color: #d32f2f;
  }
  